# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code files
.vscode/
*.code-workspace
.DS_Store

__pycache__/
*.pyc

__pycache__/ExperimentRunner.cpython-314.pyc
__pycache__/ExperimentSetup.cpython-314.pyc
__pycache__/Plotter.cpython-314.pyc
